.App {
  width: 100vw;
  height: 100vh;
  background-color: bisque;
}

#viewer {
  height: 100%;
  width: 100%;
}

#logostex {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
}